html{
	text-rendering :optimizeLegibility;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0px;
    padding:0px
}
body a{
    text-decoration: none;
}
/**************header style******************/
header{
    padding: 0 20px;
    height: 70px;
    background-color: #dfe2db;
    border-bottom: 3px solid #031c57;
    position: relative;
}
header h1{
    position: absolute;
    top:-5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
header li{
    float:left;
    list-style: none;
    padding:0 10px;
    text-transform: uppercase;
    font-weight: 800;
}
header  a{
    color: #111111;
    padding: 20px 10px;
}
nav{
    margin-top:10px;
}
li:hover a,.presenttab{
    background: #031c57;
    color:#fff;
    border:0;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;    
}
    
/*-------------------end header style-----------------------*/
#list-category{
    width:calc(20% - 60px);
    border-right:2px solid #dfe2db;
    padding:100px 30px;
    position: relative;
    
}
#categories{
    position: absolute;
    top:-2px;
    left:0;
    width:calc(100% + 2px);
    background: #031c57;
    color:#fff;
    text-align: center;
    font-weight: 800;
    padding: 10px 0;
}

.lightblue{
    color:dodgerblue;
}
.fleft{
    float:left
}
.fright{
    float:right;
}
.fnone{
    float:none;
    clear: both;
}
.contrast{
    background: #dfe2db;
    margin-bottom: 20px;
    display: table;
    vertical-align: middle;
    width:100%;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    height: 30px;
}
.categorypick{
    background: #031c57;
    border: 1px solid #dfe2db;
    margin-bottom: 20px;
    display: table;
    vertical-align: middle;
    width:100%;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    height: 30px;
}
.arrowpoint{
    top: 4.5px;
    right:-11.5px;
    width:21.4px;
    height: 21.4px;
    background: #dfe2db;
    position: absolute;
    transform: rotate(45deg)
}
.categorypick .cat{
    display: table-cell;
    vertical-align: middle;
    color:#fff;
    text-align: center;
}
.contrast .cat{
    display: table-cell;
    vertical-align: middle;
}

.contrast:hover .cat,.categorypick .cat{
    text-align: center;
    }
.contrast:hover img ,.categorypick img{
    display:none;
    }
.contrast:hover ,.contrast:hover .arrowpoint,.categorypick .arrowpoint{
        background: #031c57;
        color:#fff;
        border:0;
        }

